<section class="container search">
  <h1>Current Needs:</h1>
</section>
<section class="container items">
  <div class="list-group">
    <article class="items col-sm-9">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animate-inventory"
               ng-repeat="product in products.inventory">
               <!-- filteredProducts = ( products.inventory | productFilter : products.searchText | orderBy: ['category', 'price'] ) -->
            <a ng-click="products.goProduct(product)" class="list-group-product">
              <h3>{{ product.name }}</h3>
              <article class="row">
                <div class="col-xs-5">
                  <img class="middle" width=200px src="/assets/images/inventory/{{product.imageFile}}"/>
                </div>
                <div class="col-xs-7">
                  <dl class="dl-horizontal">
                    <dt>Category:</dt><dd>{{ product.category }}</dd>
                    <dt>Price:</dt><dd>{{ product.price | currency }}</dd>
                  </dl>
                </div>
              </article>
            </a>
            <div class="text-center">
              <button class="btn btn-sm btn-danger" ng-click="products.addProduct(product)">Add to Cart</button>
            </div>
          </div>
          <div class="animate-inventory text-center" ng-hide="products.inventory.length">
            <h3>No items match your search.</h3>
          </div>
        </div>
      </div>
    </article>

  <article class="col-sm-3">
    <section ng-show="products.isLoggedIn()" class="cart text-center">
      <h2>Your Cart:</h2>
      <ul>
        <li class="cart animate-cart" ng-repeat="cartItem in products.cart">   <!--track by cartItem._id-->
          <span>{{ cartItem.qty + ' x ' + cartItem.item.name + ' = ' + (products.getCost(cartItem) | currency) }}</span>
          <button class="btn btn-danger btn-xs" ng-click="products.removeProduct(cartItem)">Remove Item</button>
        </li>
      </ul>
      <h3>Total: {{ products.total | currency }}</h3>
      <br>
      <button class="btn btn-danger" ng-click="products.clearCart()">Clear Cart</button>
    </section>
  </article>
</section>

<footer class="footer">
  <div class="container">
      <p>Website by Britney Dossett |
        <a href="https://twitter.com/britneydossett">@britneydossett</a> |
         <a href="https://github.com/britneydossett">Github</a></p>
  </div>
</footer>
