#carousel.ng-scope {
    max-width: 870px;
    margin: auto;
}

#carCont > div {
    width: 100%;
    padding: 0;
    margin: 0;
}

img{
    height: 100%;
    max-height: 579px;
    max-width: 870px;
    width: 100%;
}

#carousel {
    position: relative;
    width: 870px;
    height: 579px;
    margin: 0px;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: inline;
    max-width: 100%;
    height: auto;
    line-height: 1.5;
}

.malarkey {
    align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-left: 40px;
    font-size: 30px;
    height: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: #93c8ff;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

.btn-success {
    background-color: #c6e2ff;
    border: #add5ff;
}

#scrollArea {
    margin-bottom: 300px;
    margin-left: 41%;
}

h1, .header2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    padding-top: 10px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

#video {
    padding-top: 20px;
    text-align:center;
    width:100%;
}
iframe {
  width: 870px;
}

.textbox {
    font-size: 20px;
}
