<div class="container">
    <div class="malarkey"></div>
</div>
<div id="scrollArea" ng-controller="ScrollController">
  <a ng-click="gotoBottom()"><button class="btn btn-success">Learn How to Help</button></a>
</div>
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in Products">
        <li><a id="bottom" href="#" tooltip="{{product.description}}">{{product.name}}<button type="button" class="close" ng-click="removeProduct(product)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Website by Britney Dossett |
        <a href="https://twitter.com/britneydossett">@britneydossett</a> |
         <a href="https://github.com/britneydossett">Github</a></p>
  </div>
</footer>

  <script>
    var elem = document.querySelector('.malarkey');
    var opts = {
      typeSpeed: 50,
      deleteSpeed: 50,
      pauseDelay: 1000,
      loop: true,
      postfix: ''
    };
    malarkey(elem, opts).type('Roma Gypsies typically lack access to stable jobs, affordable housing, and health care.')   .pause().delete()
                        .type('As a result, poverty, disease, substance abuse and crime plague many Roma communities.') .pause().delete()
                        .type("Many gypsies are forcibly moved to homes in landfills outside Romania's larger cities.") .pause().delete()
                        .type('') .pause().delete()
                        .type('95% of Roma drop out before the 8th grade.')   .pause().delete()
                        .type('60-70% of the Romanian population lives in rural areas with little to no easy access to schools').pause().delete();
  </script>
