<div>
  <h1 class="header2">Belief in Motion</h1>
</div>

<div class="container">
  <div ng-app="app" id="carCont">
    <div ng-controller="CarouselCtrl" id="carousel">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}">
            <div class="carousel-caption">
             <!--  <h1>Belief in Motion</h1> -->
            </div>
          </slide>
        </carousel>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in Products">
        <li><a href="#" tooltip="{{product.description}}">{{product.name}}<button type="button" class="close" ng-click="removeProduct(product)">&times;</button></a></li>
      </ul>
    </div>
  </div>
  <div>
    <p> Belief in Motion was established in 2007 and mission is to see the lives of impoverished people changed. We believe that education is key to stopping the cycle of poverty and abandoment in Romania. We want children to grow up in an educated environment, where they have the opportunity to get jobs instead of turning to prostitution, stealing, or begging. We also want to empower women by giving them usefufl skills and jobs so they can provide for their family.
    </p>
    <br>
    <p>The goal when the Roberson family moved to Romania was to start a school. We are well on our way, but we are not there yet.

    We launched what we call "Operation Education." In Romania, 95% of Roma drop out before the 8th grade, and almost half of the Romanians will not successfully graduate with a high school diploma.

    Our goal is to provide the support that students need to stay in school (tutoring), as well as to provide them with one hot meal, English, Music and Sport classes. We also have a preschool class during this time. We call this our after school program.

    We are in our 2nd year of our program in Sintelec, and have plans to expand to other villages in the area. You can sponsor a child to attend our program. Each child gets two sponsors: one for the program and one for a weekly food package to be sent home with them.
  </p>
  </div>

<footer class="footer">
  <div class="container">
      <p>Website by Britney Dossett |
        <a href="https://twitter.com/britneydossett">@britneydossett</a> |
         <a href="https://github.com/britneydossett">Github</a></p>
  </div>
</footer>
